.spec{
    display: flex;
    align-items: center;
}

.spec img{
    width: 50px;
    margin-right: 2.5rem;
}

  
  @media screen and (max-width: 1024px) {
    .spec img{
        width: 40px;
        margin-right: 2.5rem;
    }
  }
  
  @media screen and (max-width: 640px) {
    .spec img{
        width: 30px;
        margin-right: 2.5rem;
    }
  }

.spec-detail{
    text-align: left;
}

.spec-detail h3{
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.spec-detail p{
    font-size: 1.4rem;
    color: #72725f;
}