.header-container{
    height: 100vh;
}

.slide-1{
    background-color: #EBEAE0;
}

.slide-2, .slide-3{
    background-size: cover;
    background-position: right;
}

.slide h1{
    font-size: 7rem;
    line-height: 1.2;
}
.slide h4{
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.slide a{
    font-size: 1.6rem;
    margin-top: 20px;
    font-weight: 500;
}


.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
   */