.nav-bar{
    border-bottom: 1px solid var(--sage);
}

.logo-title{
    font-size: 4rem;
    font-weight: 600;
}

@media screen and (max-width: 768px) {
.logo-title{
    font-size: 3rem;
  }
}

.nav-menu{
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-right{
    font-size: 2rem;
}

.dropdown-menu{
    display: none;
    opacity: 0;
    width: 450px;
    background-color: var(--nyanza);
    transition: all 0.5s;
    border: 1px solid var(--sage);
    z-index: 99;
}

#shop:hover .dropdown-menu, #men:hover .dropdown-menu, #women:hover .dropdown-menu{
    display: block;
    opacity: 1;
}

.dropdown-menu ul{
    font-size: 1.4rem;
    font-weight: 400;
}

.mobile-nav-wrapper{
    background-color: rgba(0, 0, 0, 0.2);
    
}

.mobile-nav{
    background-color: var(--nyanza);
    /* animation: slide 0.3s linear; */
    transition: 0.5s;
}

.mobile-nav-active{
    left: 0;
}

@keyframes slide {
    0%{
        left: -100%;
    }
    100%{
        left: 0%;
    }
}