:root{
  --oliveDrabe: #114B5F;
  --ebony: #605C4E;
  --nyanza: #EAFFDA;
  --sage: #C7C7A6;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

.App {
  background-color: var(--nyanza);
  font-family: 'Jost', sans-serif;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.hover-underline{
  position: relative;
  padding-bottom: 2px;
}

.hover-underline::after{
  content: '';
  position: absolute;
  width: 0;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}

.hover-underline:hover::after{
  border: 1px solid black;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
