.blog-data{
    font-size: 1.5rem;
    font-weight: 500;
    color: #4e4e43;
}

.blog-title{
    font-size: 2rem;
    font-weight: 500;
}

.blog-details{
    font-size: 1.4rem;
    color: #4e4e43;
}

.read-more{
    color: var(--oliveDrabe);
    font-weight: 500;
}